*{
    font-family: "Anta", sans-serif;
}
h1 {
    color: #12de89a2;
    text-align: center;
}
button {
    background-color: #12de89a2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
header , main {
    background-color: beige;
}
body {
    width: 99%!important;
    margin: 0.5%!important;
    padding: 0.5%!important;
}
img{
    border-radius: 10px;
    width: 20%;

}
div{
    text-align: center;
}
#map { height: 180px; }

form{
    display: inline-block;
    width: 100%;
}

nav, a  {
    background-color: #333;
    color:blanchedalmond; 
    padding: 10px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
}

nav li {
    display: inline-block; 
    margin-right: 10px; 
}


nav a:hover {
    color: #007bff;
}