*{
    font-family: "Anta", sans-serif;
}
h1 {
    color: #12de89a2;
}
button {
    background-color: #12de89a2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
header , main {
    background-color: beige;
}
body {
    width: 99%!important;
    margin: 0.5%!important;
    padding: 0.5%!important;
}
img{
    border-radius: 10px;

}
div{
    text-align: center;
}
#map { height: 180px; }
